@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #ea5455;
    //#2d4059
    line-height: 2;
    font-weight: 500;

}

.container {
    // min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .header {
        h1 {
            display: inline-block;
            position: relative;
            font-size: 2.5rem;
            color: #ffd460;
            text-transform: capitalize;

            &::before {
                content: "";
                position: absolute;
                bottom: 5px;
                width: 100%;

                height: 4px;
                background-color: #2d4059;
            }
        }
    }

    .image_container__ {

        .image_div {
            border: 4px solid #ffd460;
            margin-top: 40px;
            height: 300px;
            border-radius: 30px;
            display: grid;
            place-items: center;
            width: 400px;
            overflow: hidden;

            span {
                text-align: center;
                font-size: 18px;
                color: #ddd;
            }

            .image {
                width: 100%;
                height: auto;
                display:none;
            }
        }
    }

    input[type="file"] {
        width: 200px;
        border: 2px solid #ffd460;
        background-color: greenyellow;
        padding: 3px;
        margin: 20px;
        cursor: pointer;
    }
}